{% extends 'base.html.twig' %}

{% block title %}Edition de l'ingrédient{{ ingredient.name }}{% endblock %}

{% block body %}
<h1>Modifier un ingrédient</h1>

{{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_row(form.name) }}


    <button type="submit"> Modifier </button>

{{ form_end(form) }}

{% endblock %}